{% extends "base_generic.html" %}

{% block content %}
<h1>DVD Library</h1>

<p>Collection of my movie DVDs. Website is a Django website developed as an <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Tutorial_local_library_website"> example</a> on the Mozilla Developer Network.</p>
<p>Built with my modification to the Django skeleton website code found here <a href="https://github.com/mdn/django-locallibrary-tutorial">on Github.</a></p>


<h2>Collection</h2>
<p>DVD's here are my collection and this web app helps me to organize and keep track of them. </p>

<div>
{% load static %}
<img src="{% static "images/Dune_1984_Poster.jpg" %}" alt="My image" style="width:346px;height:540px;"/>
</div>  


<h2>Dynamic content</h2>

<p>The library has the following record counts:</p>
<ul>
<li><strong>Movies:</strong> {{ num_books }}</li>
<li><strong>Copies:</strong> {{ num_instances }}</li>
<li><strong>Copies available:</strong> {{ num_instances_available }}</li>
<li><strong>Stars:</strong> {{ num_authors }}</li>
</ul>


You have visited this page {{ num_visits }} times.

{% endblock %}
